/*************** TAG SELECTORS ***************/
body {
    text-align: left;
    border: none;
}

hr {
    border-color: #eee; 
    border-width: 1px;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}

h3 {
    margin: 20px 0;
}

p {
    color: #bbbfca;
}

li {
    padding: 3px 0;
}

/*************** CLASS ID SELECTORS ***************/

/* Universal Padding */
.container-fluid {
    padding: 5% 19%;
    max-width: 1500px;
}

/* Section Headers */
.section-header {
    text-align: center;
}

/* Sections */
.darker-section {
    background-color: #222831;
    color: #FFFFFF;
}

.lighter-section {
    background-color: #393e46;
    color: #FFFFFF;
}

/* Experiences Section */
.row {
    padding-bottom: 10px;
}

/* Abilities Section */
.no-bullets {
    list-style: none;
    padding-left: 0;
}

.skill-title {
    display: inline-block;
    width: 50%;
}

.skill-score {
    float: right;
}

.fa-star {
    color: #bbbfca
}

.star-filled {
    color: #d65a31;
}

/* Footer Section */
.contact-icons {
    text-align: center;
}

.footer-icon {
    margin: 20px 10px;
}